# =============================================
# EJEMPLO DE CONFIGURACIÓN — Copiar como .env
# =============================================

SECRET_KEY=django-insecure-cambia-esto-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
DB_NAME=helpdesk_db
DB_USER=helpdesk_user
DB_PASSWORD=helpdesk_pass
DB_HOST=127.0.0.1
DB_PORT=5433

# ChromaDB
CHROMADB_HOST=localhost
CHROMADB_PORT=8001

# Ollama + modelo LLM
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b
